{% trans_default_domain 'FOSUserBundle' %}

<div id="register" class="main_form_register">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'sky-form'}}) }}
{{ form_errors(form) }}
{# Pour changer les messages d'erreurs de username/email/password
il faut aller dans le fichier vendor/friendsofsymfony/ressources/config/validation.xml #}
{# Pour changer les messages d'erreurs de firstname/lastname/image
il faut aller dans le fichier src/UserBundle/Entiry/User.php #}

{{ form_row(form._token) }}
  <header>Registration form
  <img src="{{ asset('/bundles/IMAGE/cross.png') }}" class="close_cross" onclick="display_register();">
  </header>
  <fieldset>
    <section>
      <label class="input">
        <i class="fa fa-user fa-lg icon-prepend"></i>
        {{ form_errors(form.username) }}
        {{ form_widget(form.username, {'attr': {'placeholder': 'Username'}}) }}
        <b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
      </label>
    </section>

    <section>
      <label class="input">
        <i class="fa fa-envelope-o fa-lg icon-prepend"></i>
        {{ form_errors(form.email) }}
        {{ form_widget(form.email, {'attr': {'placeholder': 'Email Adresse'}}) }}
        <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
      </label>
    </section>

    <section>
      <label class="input">
        <i class="fa fa-lock fa-lg icon-prepend"></i>
        {{ form_errors(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Password'}}) }}
        <b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
      </label>
    </section>

    <section>
      <label class="input">
        <i class="fa fa-lock fa-lg icon-prepend"></i>
        {{ form_errors(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Confirm Password'}}) }}
        <b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
      </label>
    </section>
  </fieldset>
  <fieldset>
    <div class="row">
      <section class="col col-6">
        <label class="input">
          <i class="fa fa-lock fa-lg icon-prepend"></i>
          {{ form_errors(form.firstname) }}
          {{ form_widget(form.firstname, {'attr': {'placeholder': 'FirstName'}}) }}
          <b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
        </label>
      </section>
      <section class="col col-6">
        <label class="input">
          <i class="fa fa-lock fa-lg icon-prepend"></i>
          {{ form_errors(form.lastname) }}
          {{ form_widget(form.lastname, {'attr': {'placeholder': 'LastName'}}) }}
          <b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
        </label>
      </section>
      <section class="col col-6">
        <label class="input">
          <i class="fa fa-lock fa-lg icon-prepend"></i>
          {{ form_errors(form.image) }}
          {{ form_widget(form.image, {'attr': {'placeholder': 'LastName'}}) }}
          <b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
        </label>
      </section>
    </div>
    <section>
      <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>I agree to the Terms of Service</label>
    </section>
  </fieldset>
  <footer>
     <input type="submit" class="button" value="{{ 'Valider'|trans }}" />
  </footer>
  {{ form_end(form) }}
  </div>
