{% extends "CoreBundle::layout.html.twig" %}
{% block body %}
	<span id="sl_play" class="sl_command">&nbsp;</span>
	<span id="sl_pause" class="sl_command">&nbsp;</span>
	<span id="sl_i1" class="sl_command sl_i">&nbsp;</span>
	<span id="sl_i2" class="sl_command sl_i">&nbsp;</span>
	<span id="sl_i3" class="sl_command sl_i">&nbsp;</span>
	<span id="sl_i4" class="sl_command sl_i">&nbsp;</span>
	<section id="slideshow">

		<a class="commands prev commands1" href="#sl_i4" >&lt;</a>
		<a class="commands next commands1" href="#sl_i2" >&gt;</a>
		<a class="commands prev commands2" href="#sl_i1" >&lt;</a>
		<a class="commands next commands2" href="#sl_i3" >&gt;</a>
		<a class="commands prev commands3" href="#sl_i2" >&lt;</a>
		<a class="commands next commands3" href="#sl_i4" >&gt;</a>
		<a class="commands prev commands4" href="#sl_i3" >&lt;</a>
		<a class="commands next commands4" href="#sl_i1" >&gt;</a>

		<a class="play_commands pause" href="#sl_pause" title="Maintain paused">Pause</a>
		<a class="play_commands play" href="#sl_play" title="Play the animation">Play</a>

		<div class="container">
			<div class="c_slider"></div>
			<div class="slider">
				<figure>
					<img src="{{ asset('/bundles/IMAGE/affiche_1.jpg') }}"  width="850" height="420" />

				</figure><!--
				--><figure>
					<img src="{{ asset('/bundles/IMAGE/affiche_2.jpg') }}"  width="850" height="420" />

				</figure><!--
				--><figure>
					<img src="{{ asset('/bundles/IMAGE/affiche_3.jpg') }}"  width="850" height="420" />

				</figure><!--
				--><figure>
					<img src="{{ asset('/bundles/IMAGE/affiche_4.jpg') }}"  width="850" height="420" />

				</figure>
			</div>
		</div>
		<span id="timeline"></span>
		<ul class="dots_commands"><!--
			--><li><a title="Show slide 1" href="#sl_i1">Slide 1</a></li><!--
			--><li><a title="Show slide 2" href="#sl_i2">Slide 2</a></li><!--
			--><li><a title="Show slide 3" href="#sl_i3">Slide 3</a></li><!--
			--><li><a title="Show slide 4" href="#sl_i4">Slide 4</a></li>
		</ul>
	</section>
<img id="image_slider" src="{{ asset('/bundles/IMAGE/black-wallpaper-7.jpg') }}">
</div>
<div id="content_page">
	<video id="my_video_1" class="video-js vjs-default-skin" width="800px" height="400px"
      controls preload="none" poster='http://video-js.zencoder.com/oceans-clip.jpg'
      data-setup='{ "aspectRatio":"16:9", "playbackRates": [1, 1.5, 2] }'>
    <source src="http://vjs.zencdn.net/v/oceans.webm" type='video/webm' />
  	</video>
  	{% for elem in tab %}
        <li>{{ elem }}</li>
        <button onclick="omdb_data('{{ elem }}', '');"></button>
    {% endfor %}
<!--
				<script type='text/javascript'>//<![CDATA[
			$(window).load(function(){
			var $Form = $('form'), $Container = $('#container_omdb');
			$Container.hide();
			$Form.on('submit', function(p_oEvent){

			    var sUrl, sMovie, oData;
			    p_oEvent.preventDefault();
				sMovie = $Form.find('input').val();
			    sUrl = 'https://www.omdbapi.com/?t=' + sMovie + '&type=movie&tomatoes=true'
			    $.ajax(sUrl, {
			        complete: function(p_oXHR, p_sStatus){
			            oData = $.parseJSON(p_oXHR.responseText);
			            console.log(oData);
			            $Container.find('.title').text(oData.Title);
			            $Container.find('.plot').text(oData.Plot);
			            $Container.find('.poster').html('<img src="' + oData.Poster + '"/>');
			            $Container.find('.year').text(oData.Year);
			            $Container.show();
			        }
			    });
			});

			});//]]>

			</script>


			</head>

			<body>
			  <form>
			    <label>
			        <input type="text" name="movie" placeholder="movie title" />
			    </label>
			    <button>Go!</button>
			</form>

			<div id="container_omdb">
			    <h3 class="title">Title</h3>
			    <p class="plot">Plot</p>
			    <span class="poster">Poster</span>
			    <span class="year">Year</span>
			    <span>TODO: IMDB Rating / Votes</span>
			    <span>TODO: Tomatoes Rating / Votes /Image</span>
			</div>
-->
</div>
<div id="register" class="main_form_register">
	<form action="" class="sky-form" >
		<header>Registration form</header>

		<fieldset>
			<section>
				<label class="input">
					<i class="fa fa-user fa-lg place_icon"></i>
					<input type="text" placeholder="Username">
					<b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
				</label>
			</section>

			<section>
				<label class="input">
					<i class="fa fa-envelope-o fa-lg place_icon"></i>
					<input type="text" placeholder="Email address">
					<b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
				</label>
			</section>

			<section>
				<label class="input">
					<i class="fa fa-lock fa-lg place_icon"></i>
					<input type="password" placeholder="Password">
					<b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
				</label>
			</section>

			<section>
				<label class="input">
					<i class="fa fa-lock fa-lg place_icon"></i>
					<input type="password" placeholder="Confirm password">
					<b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
				</label>
			</section>
		</fieldset>
		<fieldset>
			<div class="row">
				<section class="col col-6">
					<label class="input">
						<input type="text" placeholder="First name">
					</label>
				</section>
				<section class="col col-6">
					<label class="input">
						<input type="text" placeholder="Last name">
					</label>
				</section>
			</div>
			<section>
				<label class="checkbox"><input type="checkbox" name="checkbox"><i></i>I agree to the Terms of Service</label>
			</section>
		</fieldset>
		<footer>
			<button type="submit" class="button">Submit</button>
		</footer>
	</form>
</div>
<div id="login" class="main_form_register">
	<a><img id="Fb_logo" src=""></a>
	<a><img id="ecole_logo" src=""></a>
	<form action="" class="sky-form">
		<header>Login form

		</header>

		<fieldset>
			<section>
				<label class="input">
					<i class="fa fa-user fa-lg place_icon"></i>
					<input type="text" placeholder="Username">
					<b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
				</label>
			</section>
			<section>
				<label class="input">
					<i class="fa fa-lock fa-lg place_icon"></i>
					<input type="password" placeholder="Confirm password">
					<b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
				</label>
			</section>
			<section>
				<div class="row">
					<div class="col col-4">
						<label class="checkbox"><input type="checkbox" name="checkbox-inline" checked><i></i>Keep me logged in</label>
					</div>
					<div class="col col-8">
					</div>
				</div>
			</section>
		</fieldset>
		<footer>
			<button type="submit" class="button">Log in</button>
			<span onclick="display_register();" class="button button-secondary">Register</span>
		</footer>
	</form>
</div>
{% endblock %}
