<html>
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="{{ asset('/bundles/CSS/layout.css') }}">
        <link rel="stylesheet" href="{{ asset('/bundles/CSS/sky-forms.css') }}">
        <link rel="stylesheet" href="{{ asset('/bundles/CSS/styles.css') }}">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
        <link href='http://fonts.googleapis.com/css?family=Mr+Dafoe' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Amaranth:700' rel='stylesheet' type='text/css'>
    	<script type="text/javascript" src="{{ asset('/bundles/JS/utils.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/bundles/JS/OMDB.js') }}"></script>
        <script type='text/javascript' src="{{ asset('/bundles/JS/jquery.particleground.js') }}"></script>
        <link rel="icon" type="image/png" href="{{ asset('/bundles/IMAGE/favicon.png') }}">
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.js"></script>
    	<title>HYPERTube</title>
    </head>
    <body>
    	<div id="header">
    		<div id="search_bar_bundle">
    			<a><img id="logo" src="{{ asset('/bundles/IMAGE/HyperTube_logo.png') }}"></a>
                <img id="search_icon" src="{{ asset('/bundles/IMAGE/search_loupe.png') }}">
                <input type="text" id="search_bar" placeholder="search a movie / series / manga">
    		</div>
    		<div id="menu_bar">
    			<div id="menu_container">
    				<div id="selector"></div>
    				<a><img id="home_icon" src="{{ asset('/bundles/IMAGE/burger_icon.png') }}"></a>
	    			<a id="menu_1" href=""><span id="menu_span_active">HOME</span></a>
	    			<a id="menu_2" href=""><span id="menu_span_txt" >MOVIES</span></a>
	    			<a id="menu_3" href=""><span id="menu_span_txt">SERIES</span></a>
	    			<a id="menu_4" href=""><span id="menu_span_txt">SHONEN</span></a>
	    			<a><img class='icon_menu' src="{{ asset('/bundles/IMAGE/Connect.png') }}"></a>
                    <img id="babar" onclick="display_profil_menu();" class="icon_menu" src="{{ asset('/bundles/IMAGE/ProParam.png') }}">

	    			<div id="profil_menu">
	    				<div id="green_bar_div" style="position: absolute; height: 6px; top: 0px; width: 100%; background-color: rgba(46, 204, 113,1.0);"></div>
                        <div id="green_bar_div" style="position: absolute; right: 0px; height: 50px; width:50px; background-color: rgba(46, 204, 113,1.0); top: -50px; "></div>
													{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	    				<div id="div_profil_menu">
                            <a href="http://localhost:8080/hypertube/web/app_dev.php/profile"><span>My Profil</span></a>
                        </div>
												{% endif %}
	    				<div id="div_profil_menu">
                            <span>Friends</span>
                        </div>
	    				<div id="div_profil_menu">
                            <span >Other Profil</span>
                        </div>
	    				<div id="div_profil_menu">
                            <span>Settings</span>
                        </div>

                        <div id="div_profil_menu">
                            <div style="text-shadow: 1px 2px #95a5a6; color: #2ecc71; font-family: geo;">&diams;
                            <div style="box-shadow: 0px 2px 2px 0px #95a5a6; border: 2px solid #2ecc71; width: 70px; position: relative; top: -20px; left: 10px;"></div>
                            <div style="box-shadow: 0px 2px 2px 0px #95a5a6; border: 2px solid #2ecc71; width: 70px; position: relative; top: -24px; left: 120px;"></div>
                            </div>

                        </div>

	    				<div id="div_profil_menu">
                            <span style="font-style: italic;">Switch Account</span>
                        </div>
	    				<div id="div_profil_menu">
                            <span style="color: rgba(30, 30, 30, 1);">or</span>
                        </div>
									{% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
    				    			<div id="div_profil_menu">
                            	<span onclick="display_login();" style="font-style: italic;">Log-In</span>
                        </div>
									{% else %}
										<div id="div_profil_menu">
													<a style="font-style: italic;" href="{{ logout_url() }}">Logout</a>
										</div>
									{% endif %}
	    			</div>
	    		</div>
    		</div>
    	</div>
					{% block body %}
					{% endblock %}
        <div id="background"></div>
    </body>
<html>
