<html>
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="{{ asset('/bundles/CSS/layout.css') }}">
        <link rel="stylesheet" href="{{ asset('/bundles/CSS/pagination.css') }}">
        <link rel="stylesheet" href="{{ asset('/bundles/CSS/sky-forms.css') }}">
        <link rel="stylesheet" href="{{ asset('/bundles/CSS/styles.css') }}">
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
        <link rel="stylesheet" href="{{ asset('/bundles/CSS/font-awesome.css') }}">
        <link href='http://fonts.googleapis.com/css?family=Mr+Dafoe' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Amaranth:700' rel='stylesheet' type='text/css'>
    	<script type="text/javascript" src="{{ asset('/bundles/JS/utils.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/bundles/JS/autocomplete.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/bundles/JS/OMDB.js') }}"></script>
        <script type='text/javascript' src="{{ asset('/bundles/JS/jquery.particleground.js') }}"></script>
        <link rel="icon" type="image/png" href="{{ asset('/bundles/IMAGE/HTLogo.png') }}">
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/base/jquery-ui.css">
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
    	<title>HYPERTube</title>
    </head>
    <body>
    	<div id="header">
    		<div id="search_bar_bundle">
                <a href="{{ path('core_homepage') }}"><img id="logo" src="{{ asset('/bundles/IMAGE/HyperTube_logo.png') }}"></a>
                <form>
                    <button id="search_icon" type="submit"><img  style="position: absolute; top: 5%; width: 80%; height: 80%; left: 5%;"src="{{ asset('/bundles/IMAGE/search_loupe.png') }}"></button>
                    <input type="text" id="search_bar" placeholder="search a movie / series / manga"  />
                </form>
    		</div>
    		<div id="menu_bar">
    			<div id="menu_container">
    				<div id="selector"></div>
    				<a href="{{ path('core_homepage') }}"><img id="home_icon" src="{{ asset('/bundles/IMAGE/burger_icon.png') }}"></a>
	    			<a id="menu_1" href="{{ path('core_homepage') }}"><span class="menu_span_active">HOME</span></a>
	    			<a id="menu_2" href="{{ path('core_movie') }}"><span class="menu_span_txt" >MOVIES</span></a>
	    			<a id="menu_3" href="{{ path('core_serie') }}"><span class="menu_span_txt">SERIE</span></a>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
	    			<a><img class='icon_menu' src="{{ asset('/bundles/IMAGE/Disconnect.png') }}"></a>
                    {% else %}
                    <a><img class='icon_menu' src="{{ asset('/bundles/IMAGE/Connect.png') }}"></a>
                    {% endif %}
                    <img id="babar" onclick="display_profil_menu();" class="icon_menu" src="{{ asset('/bundles/IMAGE/ProPlus.png') }}">
	    			<div id="profil_menu">
	    				<div id="green_bar_div" style="position: absolute; height: 6px; top: 0px; width: 100%; background-color: rgba(46, 204, 113,1.0);"></div>
                        <div id="green_bar_div" style="position: absolute; right: 0px; height: 50px; width:50px; background-color: rgba(46, 204, 113,1.0); top: -50px; "></div>
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}
	    				<div id="div_profil_menu">
                            <a href="{{ path('fos_user_profile_show') }}"><span>My Profil</span></a>
                        </div>
						{% endif %}
	    				<div id="div_profil_menu">
                            <span>Friends</span>
                        </div>
	    				<div id="div_profil_menu">
                            <span >Other Profil</span>
                        </div>
	    				<div id="div_profil_menu">
                            <span>Settings</span>
                        </div>

                        <div id="div_profil_menu">
                            <div style="text-shadow: 1px 2px #95a5a6; color: #2ecc71; font-family: geo;">&diams;
                            <div style="box-shadow: 0px 2px 2px 0px #95a5a6; border: 2px solid #2ecc71; width: 70px; position: relative; top: -20px; left: 10px;"></div>
                            <div style="box-shadow: 0px 2px 2px 0px #95a5a6; border: 2px solid #2ecc71; width: 70px; position: relative; top: -24px; left: 120px;"></div>
                            </div>

                        </div>

	    				<div id="div_profil_menu">
                            <span style="font-style: italic;">Switch Account</span>
                        </div>
	    				<div id="div_profil_menu">
                            <span style="color: rgba(30, 30, 30, 1);">or</span>
                        </div>
						{% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
		    			<div id="div_profil_menu">
                            <span onclick="display_login();" style="font-style: italic;">Log-In</span>
                        </div>
						{% else %}
							<div id="div_profil_menu">
										<a style="font-style: italic;" href="{{ logout_url() }}">Logout</a>
							</div>
						{% endif %}
	    			</div>
	    		</div>
    		</div>
    	</div>
		{% block body %}
		{% endblock %}
         <div id="footer" style="position: relative; width: 100%; height: 100px; background-color: rgb(30,30,30); margin-top: 50px;"></div>
        <div id="background"></div>
        <script type='text/javascript' src="{{ asset('/bundles/JS/pagination.js') }}"></script>

    </body>
<html>
<script>

    // Si tu veux pimper le truc voici le lien du tuto =>
    // https://openclassrooms.com/courses/decouvrez-la-puissance-de-jquery-ui/l-autocompletion-1
    // Documentation officiel => http://api.jqueryui.com/autocomplete/
    // Tu peux ajouter des images ou autre truc !

    var liste = new Array();
    {% if data_search is defined %}
    {% for elem in data_search %}
        liste.push("{{ elem.title }}");
    {% endfor %}
    {% endif %}
    
    $('#search_bar').autocomplete({
        source : liste,
        minLength : 3

   });

</script>