{% extends "CoreBundle::layout.html.twig" %}
{% block content %}
<div id="container">
	<span id="sl_play" class="sl_command">&nbsp;</span>
	<span id="sl_pause" class="sl_command">&nbsp;</span>
	<span id="sl_i1" class="sl_command sl_i">&nbsp;</span>
	<span id="sl_i2" class="sl_command sl_i">&nbsp;</span>
	<span id="sl_i3" class="sl_command sl_i">&nbsp;</span>
	<span id="sl_i4" class="sl_command sl_i">&nbsp;</span>
	<section id="slideshow">
	
		<a class="commands prev commands1" href="#sl_i4" >&lt;</a>
		<a class="commands next commands1" href="#sl_i2" >&gt;</a>
		<a class="commands prev commands2" href="#sl_i1" >&lt;</a>
		<a class="commands next commands2" href="#sl_i3" >&gt;</a>
		<a class="commands prev commands3" href="#sl_i2" >&lt;</a>
		<a class="commands next commands3" href="#sl_i4" >&gt;</a>
		<a class="commands prev commands4" href="#sl_i3" >&lt;</a>
		<a class="commands next commands4" href="#sl_i1" >&gt;</a>
		
		<a class="play_commands pause" href="#sl_pause" title="Maintain paused">Pause</a>
		<a class="play_commands play" href="#sl_play" title="Play the animation">Play</a>
		
		<div class="container">
			<div class="c_slider"></div>
			<div class="slider">
				<figure>
					<img src="{{ asset('/bundles/IMAGE/affiche_1.jpg') }}"  width="850" height="420" />
					
				</figure><!--
				--><figure>
					<img src="{{ asset('/bundles/IMAGE/affiche_2.jpg') }}"  width="850" height="420" />
					
				</figure><!--
				--><figure>
					<img src="{{ asset('/bundles/IMAGE/affiche_3.jpg') }}"  width="850" height="420" />
					
				</figure><!--
				--><figure>
					<img src="{{ asset('/bundles/IMAGE/affiche_4.jpg') }}"  width="850" height="420" />
					
				</figure>
			</div>
		</div>		
		<span id="timeline"></span>
		<ul class="dots_commands"><!--
			--><li><a title="Show slide 1" href="#sl_i1">Slide 1</a></li><!--
			--><li><a title="Show slide 2" href="#sl_i2">Slide 2</a></li><!--
			--><li><a title="Show slide 3" href="#sl_i3">Slide 3</a></li><!--
			--><li><a title="Show slide 4" href="#sl_i4">Slide 4</a></li>
		</ul>
	</section>
<img id="image_slider" src="{{ asset('/bundles/IMAGE/black-wallpaper-10.jpg') }}">
</div>
<div id="content_page">
			<div id="last_stream" class="div_stream">
				<div class="home_div_title"><span class="home_div_title_bold">LAST </span>streaming add</div>
				<div class="categorie_film">
					<div class="categorie_header">Movies</div>
					{% if latestFilm is defined %}
						{% for elem in latestFilm  %}
							<div class="suggest_film">{{ elem['title'] }}</div>
						{% endfor %}
					{% endif %}
				</div>
				<div class="categorie_serie">
					<div class="categorie_header">Series</div>
					<div class="categorie_serie">
						{% if latestSerie is defined %}
							{% for elem in latestSerie  %}
								<div class="suggest_film">{{ elem['title'] }}</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>

			{#<div id="best_week" class="div_stream">#}
				{#<div class="home_div_title"><span class="home_div_title_bold">BEST</span> streaming of the week</div>#}
				{#<div class="categorie_film">#}
					{#<div class="categorie_header_view"><span class="categorie_header_view_name">Movies</span><span class="categorie_header_view_view">views</span></div>#}
					{#<div class="suggest_film2"><span class="suggest_film_name">Au bas de l'échelle (TV) [VF]</span><span class="suggest_film_view">9495</span></div>#}
					{#<div class="suggest_film2"><span class="suggest_film_name">Au bas de l'échelle (TV) [VF]</span><span class="suggest_film_view">9495</span></div>#}
					{#<div class="suggest_film2"><span class="suggest_film_name">Au bas de l'échelle (TV) [VF]</span><span class="suggest_film_view">9495</span></div>#}
					{#<div class="suggest_film2"><span class="suggest_film_name">Au bas de l'échelle (TV) [VF]</span><span class="suggest_film_view">9495</span></div>#}
				{#</div>#}
				{#<div class="categorie_serie">#}
					{#<div class="categorie_header_view"><span class="categorie_header_view_name">Series</span><span class="categorie_header_view_view">views</span></div>#}
					{#<div class="suggest_film2"><span class="suggest_film_name">Au bas de l'échelle (TV) [VF]</span><span class="suggest_film_view">9495</span></div>#}
				{#</div>#}
			{#</div>#}

			<div id="best_week" class="div_stream">
				<div class="home_div_title"><span class="home_div_title_bold">MOST</span> popular stream</div>
				<div class="categorie_film">
					<div class="categorie_header_view"><span class="categorie_header_view_name">Movies</span><span class="categorie_header_view_view">views</span></div>
					{% if mostViewFilm is defined %}
						{% for elem in mostViewFilm %}
					<div class="suggest_film2"><span class="suggest_film_name">{{ elem['title'] }}</span><span class="suggest_film_view">{{ elem['view'] }}</span></div>
						{% endfor %}
					{% endif %}
				</div>
				<div class="categorie_serie">
					<div class="categorie_header_view"><span class="categorie_header_view_name">Series</span><span class="categorie_header_view_view">views</span></div>
					{% if mostViewSerie is defined %}
						{% for elem in mostViewSerie %}
							<div class="suggest_film2"><span class="suggest_film_name">{{ elem['title'] }}</span><span class="suggest_film_view">{{ elem['view'] }}</span></div>
						{% endfor %}
					{% endif %}
				</div>
			</div>

</div>
{% endblock %}
